/* Custom Color Palette */
:root {
    --primary-color: #3a3042;
    --secondary-color: #db9d47;
    --success-color: #ff784f;
    --warning-color: #ffe19c;
    --light-color: #edffd9;
  }
  
  body, .table {
    background-color: var(--primary-color);
    color: var(--warning-color);    
    font-family: 'Open Sans', sans-serif;
  }

  a{

    color: var(--light-color);
  }

  a:hover{

    color: var(--warning-color);
  }

  
  /* Customize Bootstrap classes */
  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
  }
  
  .btn-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
  }
  
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  
  .bg-success {
    background-color: var(--success-color);
  }
  
  .bg-warning {
    background-color: var(--warning-color);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-secondary {
    color: var(--secondary-color);
  }
  
  .text-success {
    color: var(--success-color);
  }
  
  .text-warning {
    color: var(--warning-color);
  }
  
  .text-light {
    color: var(--light-color);
  }
  
  
  .recommendations {
    display: none;
  }

  .highlight-row {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .daterangepicker, .daterangepicker td.available{
    color:rgb(33, 37, 41);
  }

